html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: 'Raleway' !important;
      text-align: justify;
}

body {
      height: 100%;
      background-image: url("../media/img/bg4.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
}

img{
      height: 100%;
      width: 100%;
}

.logo {
      position: fixed;
      z-index: 2;
      line-height: 40px;
      float: left;
      margin: 1.2em 0 0 2.2em;
      font-weight: bolder;
      color: #fff;
      max-width: 40%;
      max-height: 40%;
}

#imgLogo {
      max-width: 40%;
}

.scritte_home{
      color: #e21212;
      text-shadow: 2px 0 0 rgba(255, 255, 255, 0.4), -2px 0 0 rgba(255, 255, 255, 0.4), 0 2px 0 rgba(255, 255, 255, 0.4), 0 -2px 0 rgba(255, 255, 255, 0.4), 1px 1px rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
}

.scritteParagrafoHome {
      color: #333;
}

a:hover{
      text-decoration: none;
}

.socialMobile {
      display: none;
}

#immagineNews {
      padding-top: 5%;
}

#impaginazioneNews {
      padding-top: 10%;
}

.backgroundNews {
      background: #fff;
      border-radius: 2px;
      display: inline-block;
      height: auto;
      margin: 1rem;
      position: relative;
      width: auto;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* hamburger menu */

h1 {
      text-align: center;

}

#nav-toggle {
      position: fixed;
      top: 25px;
      right: 25px;
      height: 32px;
      cursor: pointer;
}
    
#nav-toggle > div {
      position: relative;
      width: 36px;
}
    
#nav-toggle span {
      width: 100%;
      height: 1px;
      left: 0;
      display: block;
      background: #333;
      position: absolute;
      transition: transform 0.6s ease-in-out, top 0.5s ease;
      background: #fff;
}
    
#nav-toggle span:nth-child(1) {
      top: 0;
}
    
#nav-toggle span:nth-child(2) {
      top: 14px;
}
    
#nav-toggle span:nth-child(3) {
      top: 28px;
}
    
#nav-toggle:hover span:nth-child(1) {
      top: 4px;
}
    
#nav-toggle:hover span:nth-child(3) {
      top: 23px;
}
    
.open #nav-toggle span {
      background: #e21212;
}
    
.open #nav-toggle span:nth-child(1) {
      top: 15px;
      transform: rotate(45deg);
}
    
.open #nav-toggle span:nth-child(2) {
      top: 15px;
      width: 0;
      left: 50%;
}
    
.open #nav-toggle span:nth-child(3) {
      top: 15px;
      transform: rotate(-45deg);
}





/* hamburger z-index */

#nav-toggle {
      z-index: 4;
}
    
#container {
      z-index: 3;
}
    
#gloval-nav {
      background: #fff;
      color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      text-align: center;
      display: flex;
      visibility: hidden;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 29px;
      opacity: 0;
      transition: opacity 0.6s ease, visibility 0.6s ease;  
}
    
#gloval-nav a {
      display: block;
      color: #e21212;
      text-decoration: none;
      padding: 10px 0;
      transition: color 0.6s ease; 
}
    
#gloval-nav a:hover {
      color: #e21212;
}
    
#gloval-nav ul {
      list-style: none;
      padding-inline-start: 0px;
}
    
#gloval-nav ul li {
      opacity: 0;
      transform: translateX(200px);
      transition: transform 0.6s ease, opacity 0.2s ease;
}
    
#gloval-nav ul li:nth-child(2) {
      transition-delay: 0.15s;
}
    
#gloval-nav ul li:nth-child(3) {
      transition-delay: 0.3s;
}
    
#gloval-nav ul li:nth-child(4) {
      transition-delay: 0.45s;
}
    
#gloval-nav ul li:nth-child(5) {
      transition-delay: 0.6s;
}
    
#gloval-nav ul li:nth-child(6) {
      transition-delay: 0.75s;
}
    
#gloval-nav ul li:nth-child(7) {
      transition-delay: 0.9s;
}




/* hamburger open */
    
.open {
      overflow: hidden;
}
    
.open #gloval-nav {
      visibility: visible;
      opacity: 1;
}
    
.open #gloval-nav li {
      opacity: 1;
      transform: translateX(0);
      transition: transform 1s ease, opacity 0.9s ease;
}

.social-media {
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.header {     
      margin: auto;
      text-align: center;
}

.header h1 {
      font-weight: bolder;
}

.header p {
      font-weight: lighter;
}

.esagonale img{
    height: 100%;
}

.row {
      padding: 2.6em 2.6em 2em 2.6em;
}

.bottom-bar h6 {
      font-weight: bolder;
      text-transform: uppercase;
}

.bottom-bar p {
      font-size: 14px;
      font-weight: lighter;
}

.overlay {
      z-index: 5;
      position: fixed;
      width: 100%;
      height: 100%;
      background: #fff;
      top: 0%;
}

.esagonale {

      text-align: center;
      
      -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
      clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

      border-left: 2px solid #fff;
      
      border-right: 2px solid #fff;
      
      -webkit-transform: translateZ(0);
      
      transform: translateZ(0);
   
      width: 50px;
      height: 50px;
      margin: auto;
}

.background {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
}

#anteprimaGXG {
      padding-top: 7%;
}

/* Scritta home */

.scritta {
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-size: 32px;
      border-right: 1px solid rgb(255, 255, 255);
      white-space: nowrap;
      overflow: hidden;
      animation: typewriter 5s steps(50) 0.5s 1 normal both,
      cursorblink 2s infinite;
      animation-delay: 2s;
}

@keyframes typewriter {
      from {
      width: 0;
      }
      
      to {
      width: 14.3em;
      }
}

@keyframes cursorblink {
      from {
      border-right: 1px solid #e21212;
      }
      
      to {
      border-right: 1px solid #666;
      }
}

/* fine scritta home */

/* Scritta news */

.scrittaNews {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-size: 32px;
      border-right: 1px solid rgb(255, 255, 255);
      white-space: nowrap;
      overflow: hidden;
      animation: typewriterNews 2.5s steps(50) 0.5s 1 normal both,
      cursorblinkNews 2s infinite;
      animation-delay: 2s;
}

@keyframes typewriterNews {
      from {
      width: 0;
      }
      
      to {
      width: 6.2em;
      }
}

@keyframes cursorblinkNews {
      from {
      border-right: 1px solid #e21212;
      }
      
      to {
      border-right: 1px solid #666;
      }
}

/* fine scritta news */

/* Scritta donazioni */

.scrittaDonazioni {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-size: 32px;
      border-right: 1px solid rgb(255, 255, 255);
      white-space: nowrap;
      overflow: hidden;
      animation: typewriterDonazioni 2s steps(50) 0.5s 1 normal both,
      cursorblink 2s infinite;
      animation-delay: 2s;
}

@keyframes typewriterDonazioni {
      from {
      width: 0;
      }
      
      to {
      width: 7.1em;
      }
}

@keyframes cursorblinkDonazioni {
      from {
      border-right: 1px solid #e21212;
      }
      
      to {
      border-right: 1px solid #666;
      }
}

/* fine scritta home */




/* inizio scrollbar */

::-webkit-scrollbar {
      width: 0px;
}

/* fine scrollbar */

/* freccia_rossa che rimbalza */

.arrow {
      width: 10%;
      height: 10%;
      margin: 95px auto 0;
      animation: arrow 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
      animation-delay: 2s;
}
.shadow {
      width: 10px;
      height: 10px;
      background-color: #e21212;
      display:block;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      top: -10px;
      opacity: 0.7;
      animation: shadow 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
      animation-delay: 2s;
}
@keyframes arrow {
      0%{transform: translateY(0px);}
      100% {transform: translateY(-50px);}
}
@keyframes shadow {
      0%{transform: scale(.5);}
      100% {transform: scale(1.1); opacity:.1;}
}

/* freccia_rossa che rimbalza finisce */
a:hover{
      text-decoration: none;
}

iframe{
      width:512px; 
      height:288px;
      border-radius: 25%;
      margin: auto;
}
/* freccia_rossa che rimbalza finisce */

button {
      display: inline-block;
      border: none;
      margin: 0;
      text-decoration: none;
      background: transparent;
      color: #333;
      font-size: 1rem;
      cursor: pointer;
      text-align: justify;
      transition: background 250ms ease-in-out, 
                  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none;
}
  
button:hover, button:focus {
      background-color: white;
}
  
button:focus {
      outline: 1px solid transparent;
      outline-offset: -4px;
}
  
button:active {
      transform: scale(0.99);
}

.avatar {
	width: 100%;
	height: auto;
	box-sizing: border-box;
      overflow: hidden;
      border-radius: 5%;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	
}

img { width: 100%; height: auto; }

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* inizio media query */

/* query per display maggiori di 1281px */

@media (min-width: 1281px) {

      .scritta {
            top: 5%;
      }

      iframe{
            width:1024px;
            height:576px;
      }

      .arrow {
            margin: 130px auto 0;
      }
      
      #testoCinquePerMille {
            padding-top: 10%;
      }

}

@media  screen and (max-width: 1366px) {

      iframe{
            width:896px;
            height:504px;
      }

      .arrow {
            margin: 0 auto 0;
      }

}


/* query per display più piccoli di 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
  
      .scritta {
            top: 5%;
      }

      iframe{
            width:1024px;
            height:576px;
      }

      .arrow {
            margin: 180px auto 0;
      }
      
      #testoCinquePerMille {
            padding-top: 10%;
      }

}

/* query per ipad portrait */

@media (min-width: 768px) and (max-width: 1024px) {

      .scritta {
            top: 5%;
      }

      iframe{
            width:512px;
            height:228px;
      }

      .arrow {
            margin: 90px auto 0;
      }
      
      #testoCinquePerMille {
            padding-top: 10%;
      }

      .row {
            margin-right: 0px;
            flex-wrap: unset;
            margin: 10px;
      }
      
      
}

/* query per ipad landscape */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
      .scritta {
            top: 5%;
      }

      iframe{
            width:640px;
            height:360px;
      }

      .arrow {
            margin: 160px auto 0;
      }
      
      #testoCinquePerMille {
            padding-top: 10%;
      }
}

/* query per smartphone */

@media (min-width: 320px) and (max-width: 812px) {

      .logo {
            position: absolute;
            margin: 1.2em 0 0 1.2em;
      }

      .scritte_home{
            white-space: nowrap;
      }

      .scritta {
            top: 10%;
            left: 65%;
            font-size: 16px;
      }

      #boxPerMobile {
            width: -webkit-fill-available;
      }

      #video {
            padding-top: 20%;
            
      }

      #newsHome {
            width: min-content;
            padding-left: 5px;
            padding-bottom: 10px;
            padding-right: 0px;
      }

      .row {
            padding: 0 0 0 0;
      }

      iframe{
            width: auto;
            height: auto;
      }

      button {
            padding: 0;
      }
      
      .social-media {
            display: none;
      }

      .arrow {
            display: none;
      }

      .shadow {
            display: none;
      }

      .scritta {
            display: none;
      }

      .socialMobile {
            display: inline;
      }

      #donazioni {
            width: 50%;
            margin-top: 50%;
      }

      #testoDonazioni {
            margin-left: 0px;
            margin-right: 0px;
            text-align: left;
            margin: 15px;
      }

      #impaginazioneNews {
            padding-top: 20%;
            text-align: left;
      }

      #layoutNews {
            margin: 15px;
      }

}

/* fine media query */

.card:hover {
      border: 1px #e21212 solid;
      transform: scale(1.1);
}

.card-body:hover {
      background-color: rgb(255, 255, 226) !important;
}

.title {
      color: #e21212;
}

button:hover {
      background-color: #fff;
}

.card-title {
      color: #e21212;
}