html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway' !important;
}

body {
    height: 100%;
    background-image: url("../media/img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img{
    height: 100%;
    width: 100%;
}

.logo {
    position: fixed;
    z-index: 2;
    line-height: 40px;
    float: left;
    margin: 1.2em 0 0 2.2em;
    font-weight: bolder;
    color: #fff;
    max-width: 40%;
    max-height: 40%;
}

#imgLogo {
    max-width: 40%;
}

.scritte_home{
    color: #E6DA31;
}

.scritteParagrafoHome {
    color: #333;
}

a:hover{
    text-decoration: none;
}




/* hamburger menu */

h1 {
    text-align: center;

}

#nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;
}
  
#nav-toggle > div {
    position: relative;
    width: 36px;
}
  
#nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: #333;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
    background: #fff;
}
  
#nav-toggle span:nth-child(1) {
    top: 0;
}
  
#nav-toggle span:nth-child(2) {
    top: 14px;
}
  
#nav-toggle span:nth-child(3) {
    top: 28px;
}
  
#nav-toggle:hover span:nth-child(1) {
    top: 4px;
}
  
#nav-toggle:hover span:nth-child(3) {
    top: 23px;
}
  
.open #nav-toggle span {
    background: #E6DA31;
}
  
.open #nav-toggle span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
}
  
.open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
}
  
.open #nav-toggle span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
}





/* hamburger z-index */

#nav-toggle {
    z-index: 4;
}
  
#container {
    z-index: 3;
}
  
#gloval-nav {
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
    transition: opacity 0.6s ease, visibility 0.6s ease;  
}
  
#gloval-nav a {
    display: block;
    color: #E6DA31;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.6s ease; 
}
  
#gloval-nav a:hover {
    color: #E6DA31;
}
  
#gloval-nav ul {
    list-style: none;
}
  
#gloval-nav ul li {
    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.6s ease, opacity 0.2s ease;
}
  
#gloval-nav ul li:nth-child(2) {
    transition-delay: 0.15s;
}
  
#gloval-nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}
  
#gloval-nav ul li:nth-child(4) {
    transition-delay: 0.45s;
}
  
#gloval-nav ul li:nth-child(5) {
    transition-delay: 0.6s;
}
  
#gloval-nav ul li:nth-child(6) {
    transition-delay: 0.75s;
}
  
#gloval-nav ul li:nth-child(7) {
    transition-delay: 0.9s;
}





/* hamburger open */
  
.open {
    overflow: hidden;
}
  
.open #gloval-nav {
    visibility: visible;
    opacity: 1;
}
  
.open #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.9s ease;
}

.social-media {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.social-media ul li {
    list-style: none;
    color: #fff;
    padding-top: 20px;
}

.header {     
    width: 45%;
    margin: auto;
    text-align: center;
}

.header h1 {
    font-weight: bolder;
}

.header p {
    font-weight: lighter;
}

.esagonale img{
  height: 100%;
}

.row {
    padding: 2.6em 2.6em 2em 2.6em;
}

.bottom-bar h6 {
    font-weight: bolder;
    text-transform: uppercase;
}

.bottom-bar p {
    font-size: 14px;
    font-weight: lighter;
}

.overlay {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333;
    top: 0%;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#anteprimaGXG {
    padding-top: 20%;
}

#newsHome {
    padding-top: 2%;
}

.scritta {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E6DA31;
    font-size: 32px;
    border-right: 1px solid rgb(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s steps(50) 0.5s 1 normal both,
    cursorblink 2s infinite;
    animation-delay: 2s;
}

@keyframes typewriter {
from {
  width: 0;
}

to {
  width: 23em;
}
}

@keyframes cursorblink {
from {
  border-right: 1px solid #E6DA31;
}

to {
  border-right: 1px solid #666;
}
}





/* inizio scrollbar */

::-webkit-scrollbar {
width: 0px;
}

/* fine scrollbar */

/* freccia_gialla che rimbalza */

.arrow {
width: 10%;
height: 10%;
margin: 200px auto 0;
animation: arrow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
animation-delay: 2s;
}

.shadow {
width: 10px;
height: 10px;
background-color: #E6DA31;
display:block;
margin: 0 auto;
position: relative;
top: -10px;
opacity: 0.7;
 animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
animation-delay: 2s;
}

@keyframes arrow {
0%{transform: translateY(0px);}
100% {transform: translateY(-150px);}
}

@keyframes shadow {
0%{transform: scale(.5);}
100% {transform: scale(1.1); opacity:.1;}
}

/* freccia_gialla che rimbalza finisce */


/* container GXG */

.common-box {
    position: relative;
    height: 43.52vw;
    left: -10%;
}

#common-box-img-0 {
    top: 15vw;
}

.common-box-img {
    position: absolute;
    width: 32vw;
    height: 35vw;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.common-box:nth-child(odd) .common-box-txt-wrap {
    right: 4.166vw;
}

.common-box-txt-wrap {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 62.5vw;
    height: 35.1vw;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.common-box:nth-child(odd) .common-box-txt {
    padding: 0 0 0 33vw;
}

.title-dark {
    color: #212322;
}

.title-marge-ml {
    margin: 0 0 0 -5.2vw;
}

.title-l, .title-m {
    font-size: 3.9vw;
}

.title {
    font-family: 'Raleway';
    line-height: 113%;
}

a, body, button, div, footer, form, h1, h2, h3, header, html, img, input, label, li, nav, p, select, span, table, textarea, ul {
    margin: 0;
    border: 0;
    line-height: 1;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.line-wrap {
    position: relative;
    margin: 1.98vw 0 0;
    width: 2.6vw;
    height: 2px;
    overflow: hidden;
}

element.style {
    transform: translate3d(0%, 0px, 0px);
}

.line-yellow {
    background: #E6DA31;
}

.line-fx {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.p-dark {
    color: #212322;
}

.p-s {
    margin: 2.29vw 0 0;
    font-size: .78125vw;
    letter-spacing: -.05em;
    line-height: 170%;
}