h1
{
    text-align: center;
    color: crimson;
}
h4
{
    color: firebrick;
}
.container
{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#spaziatura1
{
    height: 60px;
}
form
{
    text-align: center;
}
#mail
{
    height: 30px;
    width: 200px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a.nav-link{
    color: red;
}