html, body{
    margin: 0px;
    padding: 0px;
}

.parallax { 
    /* The image used */
    background-image: url("../media/img/back.jpg");
  
    /* Set a specific height */

    height: 1300px; 


  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
   background: transparent !important;
}

nav .navbar-nav  li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

nav .navbar-nav li:last-child {
    margin-right: 0px;
}

nav .navbar-nav li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .3s ease;  
}

nav .navbar-nav li:hover:after{
    width: 100%;
    background: white;
}

nav .navbar-nav li a{
    color: rgba(255, 255, 255, 0.8) !important;
}

.ml-auto {
    padding: 10px;
}

.nav-item {
    color: white;
}

.nav-link {
    font-size: 15px;
}

nav.scrolled {
    height: 40px;
    transition: all ease .2s;
    background: white !important;  

    -webkit-box-shadow: 0 1px 8px -6px black;
    -moz-box-shadow: 0 1px 8px -6px black;
    box-shadow: 0 1px 8px -6px black;
}

.abc.ncol {
    color: rgba(121, 49, 49, 0.671) !important;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-right: 10px;
}

.abc.ncol:last-child {
    margin-right: 0px;
}

.abc.ncol:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .3s ease;  
}

.abc.ncol:hover:after{
    width: 100%;
    background: firebrick;
    color: firebrick;
}

#text {
    font-size: 25px;
}