#footer {
    background: #eee;
    padding: 0 0 30px 0;
    color: #000000;
    font-size: 14px;
}

#footer .footer-top {
    background: #eee;
    padding: 30px 0px 15px 0px;
}

#footer .footer-top .footer-info{
    margin-bottom: 15px;
}

#footer .footer-top .footer-links ul a {
    color: #e21212;
}

#footer .footer-top .footer-links ul a:hover {
    color : #a30b0b;
}

#footer .footer-top .footer-contact {
    margin-bottom: 15px;
}

#footer .footer-top .footer-contact {
    line-height: 15px;
}

#footer .copyright {
    text-align: center;
    padding-top: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

.footer-contact {
    font-size: 35px; 
}

#img {
    border-bottom: #e21212 solid 3px;
    padding-bottom: 5px;
    margin-left: 60px;
    width: 100px;
   
}

#testo{
    padding-top: 10px;
}

.fab {
    color: #e21212;
}

.fab:hover {
    color: #a30b0b;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../script/woff.woff') format('woff');
}

h1, h2, h3, h4, blockquote, q, .maia-nav ul {
    font-family: 'open sans',arial,sans-serif;
}
