h1 {
    text-align: center;
    color: #e21212;
}

h3 {
    color: #a30b0b;
}

.container {
    text-align: center;
}

#email {
    width: 220px;
    margin-left: 450px;
}

#spaziatura {
    height: 50px;
}

header{
    height: 90px;
}

nav {
    background: white !important;
}
 
nav .navbar-nav  li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}
 
nav .navbar-nav li:last-child {
    margin-right: 0px;
}
 
nav .navbar-nav li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .3s ease;  
}
 
nav .navbar-nav li:hover:after {
    width: 100%;
    background: white;
}
 
nav .navbar-nav li a {
    color: #e21212 !important;
}
 
.ml-auto {
    padding: 10px;
}
 
.nav-item {
    color: #e21212;
    padding-left: 25px;
}
 
.nav-link {
    font-size: 19px;
}
 
nav.scrolled {
    height: 40px;
    transition: all ease .5s;
    background: #e21212 !important;  
 
    -webkit-box-shadow: 0 1px 8px -6px black;
    -moz-box-shadow: 0 1px 8px -6px black;
    box-shadow: 0 1px 8px -6px black;
}
 
.ncol {
    color: #a30b0b !important;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-right: 10px;
    font-size: 15px;
}
 
.ncol:last-child {
    margin-right: 0px;
}
 
.ncol:hover {
    color: #e21212;
}
 
.ncol:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .3s ease;  
}
 
.ncol:hover:after {
    width: 100%;
    background: #e21212 !important;
}
 
#text {
    font-size: 25px;
}
 
#footer {
    background: #eee;
    color: #000000;
    font-size: 14px;
}

#footer .footer-top {
    background: #eee;
    padding: 30px 0px 15px 0px;
}

#footer .footer-top .footer-info {
    margin-bottom: 15px;
}

#footer .footer-top .footer-links ul a {
    color: #e21212;
}

#footer .footer-top .footer-links ul a:hover {
    color : #a30b0b;
}

#footer .footer-top .footer-contact {
    margin-bottom: 15px;
}

#footer .footer-top .footer-contact {
    line-height: 15px;
}

#footer .copyright {
    text-align: center;
    padding-top: 15px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

.footer-contact {
    font-size: 35px; 
}

#imgFooter {
    border-bottom: #e21212 solid 3px;
    padding-bottom: 5px;
    margin-left: 60px;
    width: 100px;
}

#testoFooter {
    padding-top: 10px;
}

.fab {
    color: #e21212;
}

.fab:hover {
    color: #a30b0b;
}

h1, h2, h3, h4, blockquote, q, .maia-nav ul {
    font-family: 'open sans',arial,sans-serif;
}

b {
    color: #a30b0b;
}

.imgChiSiamo {
    margin-top: 10%;
    width: 500px;
    height: 300px;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('../script/woff.woff') format('woff');
}

@media (min-width: 0px) and (max-width:719px){
    .footer-info{
        display: none;
        visibility: hidden;
    }
}

.footer-info{
    text-align: center;
}

#imgFooter{
    padding-left: 10px;
}

@media (min-width: 720px) and (max-width:1024px) {
    #imgFooter{
        padding-left: 10px;
        margin-left: 120px;
    }
}