html, body{
    margin: 0px;
    padding: 0px;
}

.parallax { 
    /* The image used */
    background-image: url("../media/img/back.jpg");
  
    /* Set a specific height */

    height: 1300px; 


  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
   background: transparent !important;
}

nav .navbar-nav  li{
    padding-left:30px;
    padding-right:30px;
}

nav .navbar-nav li a{
    color: rgba(255, 255, 255, 0.8) !important;
}

nav .navbar-nav li a:hover{
    color: white !important;
    border-bottom: 2px solid white;
    padding-bottom: 2px;

}

.ml-auto {
    padding: 10px;
}

.nav-item {
    color: white;
}

.nav-link {
    font-size: 15px;
}

nav.scrolled {
    height: 70px;
    transition: all ease .2s;
    background: rgb(116, 116, 116) !important;
    
}

.abc.ncol {
    color: rgba(121, 49, 49, 0.671) !important;
}

.abc.ncol:hover {
    color: firebrick !important;
    border-bottom: 2px solid firebrick;
    padding-bottom: 2px;
}



#text {
    font-size: 25px;
}